@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

:root{
    --primary-color: rgb(238, 238, 238);
    --secundary-color: rgb(15, 76, 117);
    --tertiary-color: rgb(50, 130, 184);
    --quaternary-color: rgb(27, 38, 44);
    --primary-font: 'Montserrat', sans-serif;
    --secundary-font: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 22px;
    color: var(--quaternary-color);
}

.produtos__cabecalho{
    border: 2px solid;
    align-items: center;
    border-color: var(--secundary-color);
    background-color: var(--secundary-color);
}

.produtos__cabecalho__conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15pt;
}

.produtos__cabecalho__links{
    text-decoration: none;
    color: var(--primary-color);
}

.produtos__titulo{
    text-align: center;
    font-family: var(--secundary-font);
    font-size: 70pt;
    padding-bottom: 3%;
    padding-top: 5%;
    color: var(--tertiary-color);
}

.produtos__categoria{
    padding-top: 6%;
    color: var(--tertiary-color);
    padding-left: 1%;
    padding-bottom: 1%;
}

.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.processadores{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1%;
}

.placas__de__video{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1%;
}

.fones__microfones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1%;
}

.memoria__ram{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1%;
}

.mouses__teclados{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1%;
}

.outros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1%;
}

.produtos__rodape{
    border: 2px solid;
    align-items: center;
    border-color: var(--secundary-color);
    background-color: var(--secundary-color);
}

.produtos__rodape__conteudo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 15pt;
}

.produtos__rodape__creditos{
    color: var(--primary-color);
}